{
  "swagger": "2.0",
  "host": "v3.soliqservis.uz:3443",
  "info": {
    "description": "<h3><a target=\"_blank\" href=\"https://new.soliqservis.uz/\">\"Soliq-Service\" </a>integration APIs</h3>\n<h4><b>Link signs</b> <a target='_blank' href='https://v3.soliqservis.uz:3443/files/09b4728c-1bf3-4aad-a2da-3a7f5b42a1de+factura-provider-html-sample.zip'>Примеры HTML–файлов</a></h4>",
    "termsOfService": "https://new.soliqservis.uz/factura/publicOffer/0",
    "contact": {
      "name": "Call Center tel:1198",
      "email": "servis@soliq.uz"
    }
  },
  "paths": {
    "/api/act-buyer": {
      "post": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "\"action\": для принятия - accept , для отклонения - reject <br>\n\"actId\": ID Документа <br>\n\"notes\": комментарий в случае отклонения документа <br>\n\"ip\": ip адрес клиента <br>\n\"sign\": подписанный JSON <br>",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Act"],
        "summary": "Create Act Buyer",
        "operationId": "create_buyer_act",
        "parameters": [
          {
            "type": "string",
            "default": "uz",
            "description": "Язык (ru - русский; uz - узбекский)",
            "name": "lang",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "tin",
            "name": "tin",
            "in": "query",
            "required": true
          },
          {
            "description": "ActResponse",
            "name": "act",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.ActBuyer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SUCCESS",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/act-cancel": {
      "post": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "\"actId\": ID Документа <br>\n\"ip\": ip адрес клиента <br>\n\"sign\": подписанный JSON <br>",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Act"],
        "summary": "Cancel Seller Act",
        "operationId": "cancel_seller_act",
        "parameters": [
          {
            "type": "string",
            "default": "uz",
            "description": "Язык (ru - русский; uz - узбекский)",
            "name": "lang",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "tin",
            "name": "tin",
            "in": "query",
            "required": true
          },
          {
            "description": "Request body parameters",
            "name": "act",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.ActsSellerCancel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SUCCESS",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/act-create": {
      "post": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Create Act",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Act"],
        "summary": "Create Act",
        "operationId": "create_act",
        "parameters": [
          {
            "type": "string",
            "default": "uz",
            "description": "Язык (ru - русский; uz - узбекский)",
            "name": "lang",
            "in": "header",
            "required": true
          },
          {
            "description": "ActResponse",
            "name": "act",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.SignWithTin"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Act data",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "429": {
            "description": "Rouming Error",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/act-get/{act_id}": {
      "get": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Get Act By ID",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Act"],
        "summary": "Get Act By ID",
        "operationId": "get_act_by_id",
        "parameters": [
          {
            "type": "string",
            "description": "act_id",
            "name": "act_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Response body",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/mongo_document_service.MongoActResponse"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Invalid Argument",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/act-save": {
      "post": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Save Act",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Act"],
        "summary": "Save Act",
        "operationId": "save_act",
        "parameters": [
          {
            "type": "string",
            "default": "uz",
            "description": "Язык (ru - русский; uz - узбекский)",
            "name": "lang",
            "in": "header",
            "required": true
          },
          {
            "description": "ActResponse",
            "name": "act",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/mongo_document_service.MongoAct"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Act data",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "429": {
            "description": "Rouming Error",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/allow-companies/{company_tin}": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Allow Companies"],
        "summary": "AllowCompaniesCreate",
        "operationId": "create_allow_companies",
        "parameters": [
          {
            "type": "string",
            "description": "AllowCompanies",
            "name": "company_tin",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "AllowCompaniesCreate",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/models.AllowCompaniesList"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/allow-companies/{id}": {
      "patch": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "signni ichidagi object quyidagicha bo'lishligi kerak {\"tin\":\"305069596463\",\"text\":\"{so'rov yuborgan korxona innisi} korxona mening hujjatlarimni ko'rishga roziman\",\"date\":\"2025-01-01 02:23:50\"}",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Allow Companies"],
        "summary": "AllowCompaniesUpdate",
        "operationId": "update_allow_companies",
        "parameters": [
          {
            "type": "string",
            "description": "id",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "description": "AllowCompanies",
            "name": "AllowCompanies",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.SignB"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SUCCESS",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/allow/companies": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Allow Companies"],
        "summary": "AllowCompaniesGet",
        "operationId": "get_allow_company",
        "parameters": [
          {
            "type": "string",
            "name": "company_tin",
            "in": "query"
          },
          {
            "type": "string",
            "name": "id",
            "in": "query"
          },
          {
            "type": "integer",
            "name": "is_allowed",
            "in": "query"
          },
          {
            "type": "string",
            "description": "company requesting permission",
            "name": "tin",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "AllowCompanies",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/auth_service.ListAllowCompanies"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/basket-products-basic/search": {
      "get": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Get Basket Products Search",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Products"],
        "summary": "Get Basket Products Search",
        "operationId": "get_basket_products_basic_search",
        "parameters": [
          {
            "type": "string",
            "default": "uz",
            "description": "Язык (ru - русский; uz - узбекский; uz_cyrl - узбекский)",
            "name": "lang",
            "in": "header",
            "required": true
          },
          {
            "type": "integer",
            "description": "page",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "size",
            "name": "size",
            "in": "query"
          },
          {
            "type": "string",
            "description": "text",
            "name": "text",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "ProductListResponseBody",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/models.SearchProductResponse"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Invalid Argument",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "430": {
            "description": "Tasnif error",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/contract-cancel": {
      "post": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "\"contractId\": ID Документа <br>\n\"ip\": ip адрес клиента <br>\n\"sign\": подписанный JSON <br>",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Contract"],
        "summary": "Cancel Contract By Owner",
        "operationId": "cancel_contract_by_owner",
        "parameters": [
          {
            "type": "string",
            "default": "uz",
            "description": "Язык (ru - русский; uz - узбекский)",
            "name": "lang",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "tin",
            "name": "tin",
            "in": "query",
            "required": true
          },
          {
            "description": "Request body",
            "name": "contract",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.ContractCancelByOwner"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully canceled",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/contract-client": {
      "post": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "\"action\": для принятия - accept , для отклонения - reject <br>\n\"contractId\": ID Документа <br>\n\"notes\": комментарий в случае отклонения документа <br>\n\"ip\": ip адрес клиента <br>\n\"sign\": подписанный JSON <br>",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Contract"],
        "summary": "Contract Client",
        "operationId": "contract_client_update",
        "parameters": [
          {
            "type": "string",
            "default": "uz",
            "description": "Язык (ru - русский; uz - узбекский)",
            "name": "lang",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "tin",
            "name": "tin",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "branchCode",
            "name": "branchCode",
            "in": "query"
          },
          {
            "description": "Request body",
            "name": "contract",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.ContractClient"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response data",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/contract-create": {
      "post": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Documentation link:\n<a target='_blank' href='https://docs.google.com/document/d/1fnDEyCWQTjZ1ppTkI31P-FPSYINFY9xB'>Структура JSON – Договор</a>",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Contract"],
        "summary": "Create Contract",
        "operationId": "create_contract",
        "parameters": [
          {
            "type": "string",
            "default": "uz",
            "description": "Язык (ru - русский; uz - узбекский)",
            "name": "lang",
            "in": "header",
            "required": true
          },
          {
            "description": "Request body",
            "name": "contract",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.SignWithTin"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully created",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "429": {
            "description": "Rouming Error",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/contract-get/{contract_id}": {
      "get": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Get Contract By ID",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Contract"],
        "summary": "Get Contract By ID",
        "operationId": "get_contract_by_id",
        "parameters": [
          {
            "type": "string",
            "description": "contract_id",
            "name": "contract_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "GetContractBody",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/mongo_document_service.Contract"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Invalid Argument",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/contract/save-basic": {
      "post": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Documentation link:\n<a target='_blank' href='https://docs.google.com/document/d/1fnDEyCWQTjZ1ppTkI31P-FPSYINFY9xB'>Структура JSON – Договор</a>",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Contract"],
        "summary": "Save Contract",
        "operationId": "save_contract",
        "parameters": [
          {
            "description": "Request body",
            "name": "contract",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.SignWithTin"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully saved",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "429": {
            "description": "Rouming Error",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/custom-document-basic": {
      "post": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Create Custom Document",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["CustomDocument"],
        "summary": "Create Custom Document",
        "operationId": "create_custom_document",
        "parameters": [
          {
            "description": "CustomDocumentResponse",
            "name": "customdocument",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.SignWithTin"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/custom-document-basic/{id}": {
      "get": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Get Custom Document",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["CustomDocument"],
        "summary": "Get Custom Document",
        "operationId": "get_custom_document",
        "parameters": [
          {
            "type": "string",
            "description": "id",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/mongo_document_service.Document"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/custom-document-save-basic": {
      "post": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Either sign or dataJson must be provided. If both are provided, sign will be used. <br>\nIf sign is provided, the document will be created using the signed data. <br>\nIf dataJson is provided, the document will be saved using the provided JSON data. <br>\nThe file parameter is required and should be .pdf or .docx. <br>",
        "consumes": ["multipart/form-data"],
        "produces": ["application/json"],
        "tags": ["CustomDocument"],
        "summary": "Save Custom Document",
        "operationId": "save_custom_document",
        "parameters": [
          {
            "type": "string",
            "description": "sign",
            "name": "sign",
            "in": "formData"
          },
          {
            "type": "string",
            "description": "dataJson",
            "name": "dataJson",
            "in": "formData"
          },
          {
            "type": "file",
            "description": "file",
            "name": "file",
            "in": "formData",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Saved",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/doc-list-basic": {
      "post": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Get Doc List",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Factura"],
        "summary": "Get Doc List",
        "operationId": "get_factura_list",
        "parameters": [
          {
            "type": "string",
            "default": "uz",
            "description": "Язык (ru - русский; uz - узбекский)",
            "name": "lang",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "doc_type",
            "name": "doc_type",
            "in": "query",
            "required": true
          },
          {
            "description": "ids",
            "name": "ids",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/mongo_document_service.Ids"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "FacturaList",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/models.FacturaRespose"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Invalid Argument",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/empowerment-agent": {
      "post": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "This API for creating empowerment <br>\n\"action\": для принятия - accept , для отклонения - reject <br>\n\"agentEmpowermentId\": AgentEmpowermentId (не путать с EmpowermentId) <br>\n\"notes\": комментарий в случае отклонения доверенности <br>\n\"sign\": подписанный JSON документа) <br>\n\"clientIp\": IP-адрес клиента <br>",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Empowerment"],
        "summary": "CreateAgentEmpowerment",
        "parameters": [
          {
            "type": "string",
            "default": "uz",
            "description": "Язык (ru - русский; uz - узбекский)",
            "name": "lang",
            "in": "header",
            "required": true
          },
          {
            "description": "empowermenAgentCreateRequest",
            "name": "empowerment",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.SignAgentEmpowerment"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/empowerment-agent-sign-basic": {
      "get": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Get Empowerment Sign Agent",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Sign"],
        "summary": "Get Empowerment Sign Agent",
        "operationId": "get_empowerment_sign_agent",
        "parameters": [
          {
            "type": "string",
            "description": "Статус документа ",
            "name": "status",
            "in": "query"
          },
          {
            "type": "string",
            "description": "agentEmpowermentId",
            "name": "agentEmpowermentId",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "tin",
            "name": "tin",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "lang",
            "name": "lang",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Sign",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/models.SignBase64"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Invalid Argument",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "429": {
            "description": "Rouming Error",
            "schema": {
              "$ref": "#/definitions/http.Response"
            }
          }
        }
      }
    },
    "/api/empowerment-buyer-sign-basic": {
      "get": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Get Empowerment Sign Buyer",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Sign"],
        "summary": "Get Empowerment Sign Buyer",
        "operationId": "get_empowerment_sign_buyer",
        "parameters": [
          {
            "type": "string",
            "description": "Статус документа ",
            "name": "status",
            "in": "query"
          },
          {
            "type": "string",
            "description": "empowermentId",
            "name": "empowermentId",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "tin",
            "name": "tin",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "lang",
            "name": "lang",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Sign",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/models.SignBase64"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Invalid Argument",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "429": {
            "description": "Rouming Error",
            "schema": {
              "$ref": "#/definitions/http.Response"
            }
          }
        }
      }
    },
    "/api/empowerment-cancel": {
      "post": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Cancel Empowerment",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Empowerment"],
        "summary": "Cancel Empowerment",
        "operationId": "cancel_empowerment",
        "parameters": [
          {
            "description": "CancelEmpowerment",
            "name": "Empowerment",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.SignCancel"
            }
          },
          {
            "type": "string",
            "description": "tin",
            "name": "tin",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Canceled Success",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/empowerment-create/": {
      "post": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "This API for creating empowerment",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Empowerment"],
        "summary": "Create Empowerment",
        "parameters": [
          {
            "type": "string",
            "default": "uz",
            "description": "Язык (ru - русский; uz - узбекский)",
            "name": "lang",
            "in": "header",
            "required": true
          },
          {
            "description": "empowermentCreateRequest",
            "name": "empowerment",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.SignWithTin"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully Created",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "429": {
            "description": "Rouming Error",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/empowerment-get/{empowerment_id}": {
      "get": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "This API for getting empowerment",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Empowerment"],
        "summary": "Get Empowerment",
        "operationId": "get_empowerment",
        "parameters": [
          {
            "type": "string",
            "description": "empowerment id",
            "name": "empowerment_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Empowerment data",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/mongo_document_service.Empowerment"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/empowerment-save/": {
      "post": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "This API for creating empowerment",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Empowerment"],
        "summary": "Save Empowerment",
        "parameters": [
          {
            "type": "string",
            "default": "uz",
            "description": "Язык (ru - русский; uz - узбекский)",
            "name": "lang",
            "in": "header",
            "required": true
          },
          {
            "description": "empowermentSaveRequest",
            "name": "empowerment",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/mongo_document_service.EmpowermentMongo"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully Saved",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "429": {
            "description": "Rouming Error",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/empowerment-seller": {
      "post": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "This API for creating empowerment <br>\n\"action\": для принятия - accept , для отклонения - reject <br>\n\"empowermentId\": ID доверенности <br>\n\"notes\": комментарий в случае отклонения доверенности <br>\n\"sign\": подписанный JSON документа <br>\n\"clientIp\": IP-адрес клиента <br>",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Empowerment"],
        "summary": "Create Empowerment Seller",
        "parameters": [
          {
            "type": "string",
            "default": "uz",
            "description": "Язык (ru - русский; uz - узбекский)",
            "name": "lang",
            "in": "header",
            "required": true
          },
          {
            "description": "empowermentSellerCreateRequest",
            "name": "empowerment",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.SignSellerEmpowerment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/empowerment-seller-sign-basic": {
      "get": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Get Empowerment Sign Seller",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Sign"],
        "summary": "Get Empowerment Sign Seller",
        "operationId": "get_empowerment_sign_selelr",
        "parameters": [
          {
            "type": "string",
            "description": "Статус документа ",
            "name": "status",
            "in": "query"
          },
          {
            "type": "string",
            "description": "empowermentId",
            "name": "empowermentId",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "tin",
            "name": "tin",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "lang",
            "name": "lang",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Sign",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/models.SignBase64"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Invalid Argument",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "429": {
            "description": "Rouming Error",
            "schema": {
              "$ref": "#/definitions/http.Response"
            }
          }
        }
      }
    },
    "/api/empowerment2-account": {
      "post": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "This API allows accountant to update the empowerment status",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Empowerment2"],
        "summary": "Update Empowerment Status",
        "operationId": "buyer_accountant_empowerment2",
        "parameters": [
          {
            "type": "string",
            "default": "uz",
            "description": "Язык (ru - русский; uz - узбекский)",
            "name": "lang",
            "in": "header",
            "required": true
          },
          {
            "description": "SignBuyerEmpowerment",
            "name": "sign",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.SignBuyerEmpowerment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/empowerment2-agent": {
      "post": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "This API allows agent to update the empowerment status",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Empowerment2"],
        "summary": "Update Empowerment Status",
        "operationId": "agent_empowerment2",
        "parameters": [
          {
            "type": "string",
            "default": "uz",
            "description": "Язык (ru - русский; uz - узбекский)",
            "name": "lang",
            "in": "header",
            "required": true
          },
          {
            "description": "SignBuyerEmpowerment",
            "name": "sign",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.SignBuyerEmpowerment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/empowerment2-cancel": {
      "post": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "This API is for canceling empowerment",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Empowerment2"],
        "summary": "Cancel Empowerment",
        "operationId": "cancel_empowerment2",
        "parameters": [
          {
            "type": "string",
            "default": "uz",
            "description": "Язык (ru - русский; uz - узбекский)",
            "name": "lang",
            "in": "header",
            "required": true
          },
          {
            "description": "SignCancel",
            "name": "sign",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.SignCancel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully canceled",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/empowerment2-create": {
      "post": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "This API is for creating empowerment",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Empowerment2"],
        "summary": "Create Empowerment",
        "operationId": "create_empowerment2",
        "parameters": [
          {
            "type": "string",
            "default": "uz",
            "description": "Язык (ru - русский; uz - узбекский)",
            "name": "lang",
            "in": "header",
            "required": true
          },
          {
            "description": "SignWithTin",
            "name": "sign",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.SignWithTin"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully created",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/empowerment2-get/:empowerment_id": {
      "get": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "This API is for getting empowerment by ID",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Empowerment2"],
        "summary": "Get Empowerment",
        "operationId": "get_empowerment2",
        "parameters": [
          {
            "type": "string",
            "description": "Empowerment ID",
            "name": "empowerment_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Empowerment data",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/mongo_document_service.EmpowermentV2"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/empowerment2-save": {
      "post": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "This API is for saving empowerment",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Empowerment2"],
        "summary": "Save Empowerment",
        "operationId": "save_empowerment2",
        "parameters": [
          {
            "description": "Empowerment data",
            "name": "empowerment",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/mongo_document_service.EmpowermentV2Mongo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully saved",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/empowerment2-seller": {
      "post": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "This API allows seller to update the empowerment status",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Empowerment2"],
        "summary": "Update Empowerment Status",
        "operationId": "seller_empowerment2",
        "parameters": [
          {
            "type": "string",
            "default": "uz",
            "description": "Язык (ru - русский; uz - узбекский)",
            "name": "lang",
            "in": "header",
            "required": true
          },
          {
            "description": "SignBuyerEmpowerment",
            "name": "sign",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.SignBuyerEmpowerment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/factura-agent-sign-basic": {
      "get": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Get Factura Sign Agent",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Sign"],
        "summary": "Get Factura Sign Agent",
        "operationId": "get_factura_sign_agent",
        "parameters": [
          {
            "type": "string",
            "description": "Статус документа ",
            "name": "status",
            "in": "query"
          },
          {
            "type": "string",
            "description": "agentFacturaId",
            "name": "agentFacturaId",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "tin",
            "name": "tin",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "lang",
            "name": "lang",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Sign",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/models.SignBase64"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Invalid Argument",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "429": {
            "description": "Rouming Error",
            "schema": {
              "$ref": "#/definitions/http.Response"
            }
          }
        }
      }
    },
    "/api/factura-buyer-sign-basic": {
      "get": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Get Factura Sign Buyer",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Sign"],
        "summary": "Get Factura Sign Buyer",
        "operationId": "get_factura_sign_buyer",
        "parameters": [
          {
            "type": "string",
            "description": "Статус документа ",
            "name": "status",
            "in": "query"
          },
          {
            "type": "string",
            "description": "facturaId",
            "name": "facturaId",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "tin",
            "name": "tin",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "lang",
            "name": "lang",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Sign",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/models.SignBase64"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Invalid Argument",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "429": {
            "description": "Rouming Error",
            "schema": {
              "$ref": "#/definitions/http.Response"
            }
          }
        }
      }
    },
    "/api/factura-create": {
      "post": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "<b>Documentation link:<b>\n<a target='_blank' href='https://docs.google.com/document/d/1exQg1vDhMH2WFsI_MadK9ZbtN7RyJ4XS'>Структура JSON – Счёт-фактура</a>",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Factura"],
        "summary": "Create Factura",
        "operationId": "create_factura",
        "parameters": [
          {
            "type": "string",
            "default": "uz",
            "description": "Язык (ru - русский; uz - узбекский)",
            "name": "lang",
            "in": "header",
            "required": true
          },
          {
            "description": "FacturaResponse",
            "name": "factura",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.SignWithTin"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Factura data",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "429": {
            "description": "Rouming Error",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/factura-create-buyer": {
      "post": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "\"action\": для принятия - accept , для отклонения - reject <br>\n\"id\": ID Документа <br>\n\"notes\": комментарий в случае отклонения документа <br>\n\"clientIp\": ip адрес клиента <br>\n\"sign\": подписанный JSON <br>",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Factura"],
        "summary": "Create Buyer Factura",
        "operationId": "create_buyer_factura",
        "parameters": [
          {
            "type": "string",
            "default": "uz",
            "description": "Язык (ru - русский; uz - узбекский)",
            "name": "lang",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Buyer tin",
            "name": "tin",
            "in": "query",
            "required": true
          },
          {
            "description": "FacturaResponse",
            "name": "factura",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.CreateClientFactura"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "429": {
            "description": "Rouming Error",
            "schema": {
              "$ref": "#/definitions/http.Response"
            }
          }
        }
      }
    },
    "/api/factura-get/{id}": {
      "get": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Get Factura By ID",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Factura"],
        "summary": "Get Factura By ID",
        "operationId": "get_factura_by_id",
        "parameters": [
          {
            "type": "string",
            "description": "id",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "FacturaBody",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/models.FacturaResp"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Invalid Argument",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/factura-save": {
      "post": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "<b>Documentation link:<b>\n<a target='_blank' href='https://docs.google.com/document/d/1exQg1vDhMH2WFsI_MadK9ZbtN7RyJ4XS'>Структура JSON – Счёт-фактура</a>",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Factura"],
        "summary": "Save Factura",
        "operationId": "save_factura",
        "parameters": [
          {
            "type": "string",
            "default": "uz",
            "description": "Язык (ru - русский; uz - узбекский)",
            "name": "lang",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "folderId",
            "name": "folderId",
            "in": "query"
          },
          {
            "description": "Factura Body",
            "name": "factura",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.FacturaPointer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Factura data",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/factura-seller": {
      "get": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Get Factura Seller",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Factura"],
        "summary": "Get Factura Seller",
        "operationId": "get_factura_seller",
        "parameters": [
          {
            "type": "string",
            "default": "uz",
            "description": "Язык (ru - русский; uz - узбекский)",
            "name": "lang",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "tin",
            "name": "tin",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "id",
            "name": "id",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "FacturaSeller",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/models.FacturaPointer"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Invalid Argument",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "429": {
            "description": "Rouming Error",
            "schema": {
              "$ref": "#/definitions/http.Response"
            }
          }
        }
      }
    },
    "/api/factura-seller-sign-basic": {
      "get": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Get Factura Sign Seller",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Sign"],
        "summary": "Get Factura Sign Seller",
        "operationId": "get_factura_sign_seller",
        "parameters": [
          {
            "type": "string",
            "description": "Статус документа ",
            "name": "status",
            "in": "query"
          },
          {
            "type": "string",
            "description": "facturaId",
            "name": "facturaId",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "tin",
            "name": "tin",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "lang",
            "name": "lang",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Sign",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/models.SignBase64"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Invalid Argument",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "429": {
            "description": "Rouming Error",
            "schema": {
              "$ref": "#/definitions/http.Response"
            }
          }
        }
      }
    },
    "/api/factura/agent": {
      "post": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "\"action\": для принятия - accept , для отклонения - reject <br>\n\"id\": ID Документа <br>\n\"notes\": комментарий в случае отклонения документа <br>\n\"clientIp\": ip адрес клиента <br>\n\"sign\": подписанный JSON <br>",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Factura"],
        "summary": "Factura Agent",
        "operationId": "factura_agent_",
        "parameters": [
          {
            "type": "string",
            "default": "uz",
            "description": "Язык (ru - русский; uz - узбекский)",
            "name": "lang",
            "in": "header",
            "required": true
          },
          {
            "description": "FacturaResponse",
            "name": "factura",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.CreateAgentFactura"
            }
          },
          {
            "type": "string",
            "description": "Agent pinfl",
            "name": "tin",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Response body",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Invalid Argument",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/http.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "429": {
            "description": "Rouming Error",
            "schema": {
              "$ref": "#/definitions/http.Response"
            }
          }
        }
      }
    },
    "/api/factura/cancel": {
      "post": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
[...]
